//// DESIGN SYSTEM /////

// Couleurs
$primary-color: #9356dc;
$secondary-color: #ff79da;
$tertiary-color: #99e2d0;
$background-grey: #f6f6f6;
$text-dark: #000;
$text-light: #888;
$white: #fff;
$grey: #eaeaea;
$icone-color: #7e7e7e;

// Typo
$font-title: "Shrikhand", cursive;
$font-text: "Roboto", sans-serif;

////////////// VERSION TABLETTE DE 768px À 1024px /////////////////

@media screen and (min-width: 768px) and (max-width: 1024px) {
  body {
    background-color: $white;
  }

  .spinner-container {
    left: -1%;
  }

  .menu-container {
    margin-inline: 40px;
    padding-inline: 80px;
  }

  .workflow-section h2,
  .restaurants h2 {
    margin-left: 85px;
  }

  .restau-cards,
  .workflow {
    margin: 20px 85px;
  }

  .workflow-section {
    padding-bottom: 50px;
  }

  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;

    &.footer-logo {
      width: 7.5em;
    }
  }
}

////////////// VERSION DESKTOP DE 1024px À 1440px /////////////////

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  body {
    background-color: $white;
  }

  .spinner-container {
    left: -1%;
  }

  .menu-container {
    margin-inline: 80px;
    padding-inline: 150px;
  }

  .workflow-section h2 {
    margin: 0 120px;
  }
  .workflow-desktop {
    display: flex;
    flex-direction: row;
    justify-content: left;
    margin: 0 120px;
  }
  .workflow {
    justify-content: center;
    padding: 15px 15px;
    margin: 20px;
  }

  .restaurants {
    height: auto;

    h2 {
      margin: 30px 120px;
    }
  }

  .restau-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px 120px;
  }

  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer {
    .footer-links {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 70px;
    }

    .links1,
    .links2 {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}

////////////// VERSION DESKTOP LARGE DE 1440px À 1920px /////////////////

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  body {
    background-color: $white;
  }

  .spinner-container {
    left: -1%;
  }

  .menu-container {
    margin-inline: 160px;
    padding-inline: 200px;
  }

  .menu-title {
    max-width: 100%;
    justify-content: center;
    gap: 30px;
  }

  .workflow-section h2 {
    margin: 0 180px;
  }

  .workflow-desktop {
    display: flex;
    flex-direction: row;
    margin: 0 180px;
    justify-content: left;

    .workflow {
      width: 322px;
      padding: 20px 10px;
    }
  }

  .restaurants {
    height: auto;

    h2 {
      margin: 30px 180px;
    }
  }

  .restau-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px 180px;
  }

  .dish-label:hover .dish-price {
    transform: translateX(-60px);
  }

  .dish-label:hover .dish-check-icon {
    transform: translateX(0);
    opacity: 1;
  }

  .footer {
    display: flex;
    gap: 50px;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: end;
  }

  .footer .footer-links {
    display: flex;
    flex-direction: row;
    left: 85%;
  }

  .footer {
    .footer-links {
      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
      gap: 50px;
    }

    .links1,
    .links2 {
      display: flex;
      flex-direction: row;
      gap: 20px;
    }
  }
}
