////////////// VERSION TABLETTE DE 768px À 1023px /////////////////

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .restaurants h2,
  .workflow-section h2 {
    margin-left: 85px;
  }

  .restau-cards,
  .workflow {
    margin: 20px 85px;
  }

  .workflow-section {
    padding-bottom: 50px;
  }

  footer,
  .footer {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-evenly;
    gap: 20px;
  }
}

////////////// VERSION DESKTOP DE 1024px À 1440px /////////////////

@media screen and (min-width: 1024px) and (max-width: 1440px) {
  .workflow-section h2 {
    margin: 0 120px;
  }
  .workflow-desktop {
    display: flex;
    flex-direction: row;
    margin: 10px 120px;
    justify-content: space-between;
  }

  .workflow {
    padding: 15px 15px;
    margin: 20px;
  }

  .restaurants h2 {
    margin: 30px 120px;
  }

  .restau-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px 120px;
  }

  footer,
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer .footer-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .links1,
  .links2 {
    display: flex;
    flex-direction: row;
  }

  .footer .footer-links li {
    gap: 5px;
  }

  .links1 li,
  .links2 li {
    margin: 5px;
  }
}

////////////// VERSION DESKTOP DE 1440px À 1920px /////////////////

@media screen and (min-width: 1440px) and (max-width: 1920px) {
  .workflow-section h2 {
    margin: 0 120px;
  }
  .workflow-desktop {
    display: flex;
    flex-direction: row;
    margin: 10px 120px;
    justify-content: space-between;
  }

  .workflow {
    padding: 15px 45px;
    margin: 20px;
  }

  .restaurants h2 {
    margin: 30px 120px;
  }

  .restau-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    margin: 30px 120px;
  }

  footer,
  .footer {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-evenly;
  }

  .footer .footer-links {
    display: flex;
    flex-direction: row;
    gap: 50px;
  }

  .links1,
  .links2 {
    display: flex;
    flex-direction: row;
  }

  .footer .footer-links li {
    gap: 5px;
  }

  .links1 li,
  .links2 li {
    margin: 5px;
  }
}
