body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  color: #000;
  background-color: #f6f6f6;
}

h1,
h2,
h3 {
  font-weight: bold;
}

h1 {
  font-family: "Shrikhand", cursive;
}

button {
  font-family: "Roboto", sans-serif;
}

.header {
  text-align: center;
}
.header h1 img {
  width: 160px;
  height: 30px;
}

.location {
  padding: 15px;
  margin-top: -15px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  box-shadow: 4px 2px 4px 4px rgba(0, 0, 0, 0.25);
}
.location i {
  margin-right: 8px;
}
.location span {
  font-weight: 500;
}

.hero {
  padding: 40px 20px;
  text-align: center;
}
.hero h2 {
  font-size: 22px;
}
.hero p {
  margin: 10px 0 20px;
}

.workflow-section {
  background-color: #fff;
  padding: 15px 0;
}
.workflow-section h2 {
  margin-left: 20px;
}

.workflow {
  position: relative;
  display: flex;
  align-items: center;
  border-radius: 15px;
  padding: 20px 10px;
  margin: 20px 35px;
  box-shadow: 4px 4px 8px rgba(0, 0, 0, 0.2);
  z-index: 5;
}
.workflow::before {
  content: attr(data-number);
  position: absolute;
  left: -10px;
  background-color: #9356dc;
  border-radius: 50%;
  width: 24px;
  height: 24px;
  text-align: center;
  line-height: 24px;
  color: #fff;
}
.workflow i {
  margin: 0 30px;
  color: #7e7e7e;
}
.workflow .fa-store {
  color: #9356dc;
}
.workflow span {
  font-weight: 500;
}

.restaurants {
  width: 100%;
}
.restaurants h2 {
  margin-left: 20px;
}
.restaurants a {
  text-decoration: none;
}

.restau-cards {
  display: flex;
  flex-direction: column;
  gap: 30px;
  margin: 30px 20px 0;
}
.restau-cards a {
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
}
.restau-cards img {
  width: 100%;
  height: 130px;
  object-fit: cover;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
}
.restau-cards .card-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 15px 10px;
  line-height: 1.3em;
}
.restau-cards .card-text {
  display: flex;
  flex-direction: column;
}
.restau-cards .fa-heart {
  font-size: 20px;
  color: #888;
  transition: transform 0.2s ease, color 0.2s ease;
}
.restau-cards .fa-heart:hover {
  color: #9356dc;
  transform: scale(1.1);
}
.restau-cards .card-title,
.restau-cards .card-subtitle {
  margin: 4px 0;
  color: #000;
}
.restau-cards .card-size {
  position: relative;
}
.restau-cards .card-new {
  position: absolute;
  top: 15px;
  right: 15px;
  background-color: #99e2d0;
  color: rgb(38.7404580153, 136.2595419847, 112.213740458);
  padding: 6px 12px;
  font-weight: 500;
  font-size: 14px;
  border-radius: 2px;
  z-index: 10;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}
.restau-cards .like {
  position: relative;
  cursor: pointer;
  display: inline-block;
  width: 22px;
  height: 22px;
}
.restau-cards .like input {
  display: none;
}
.restau-cards .like .empty-heart,
.restau-cards .like .filled-heart {
  position: absolute;
  top: 0;
  left: 0;
  font-size: 22px;
  transition: opacity 0.3s ease, transform 0.3s ease;
}
.restau-cards .like .filled-heart {
  background: linear-gradient(to bottom, #9356dc, #ff79da);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transform: scale(0.9);
}
.restau-cards .like input:checked + .empty-heart {
  opacity: 0;
}
.restau-cards .like input:checked ~ .filled-heart {
  opacity: 1;
  transform: scale(1.1);
}

.footer {
  background-color: rgb(55.5, 55.5, 55.5);
  color: #fff;
  padding: 30px 20px;
  margin-top: 50px;
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.footer .logo-blanche {
  filter: brightness(0) invert(1);
  width: 120px;
}
.footer .footer-links {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.footer .footer-links li {
  display: flex;
  align-items: center;
  gap: 15px;
}
.footer .footer-links li i {
  font-size: 14px;
}
.footer .footer-links li .fa-utensils {
  margin-left: 5px;
}
.footer .footer-links li a {
  color: #fff;
  text-decoration: none;
}

.button-primary {
  background: linear-gradient(to top, #9356dc, #ff79da);
  border-radius: 25px;
  padding: 15px 25px;
  color: #fff;
  font-weight: bold;
  border: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: background 0.3s ease, box-shadow 0.3s ease transform 0.3s ease;
}
.button-primary:hover {
  background: linear-gradient(to top, rgb(160.5, 107.125, 224.375), rgb(255, 146.5, 225.0410447761));
  box-shadow: 4px 8px 15px rgba(0, 0, 0, 0.8);
  transform: scale(1.03);
}

/*# sourceMappingURL=style.css.map */
